doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Software Dev - Tommy
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    //- link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/vendor/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/style.css')
  body
    .nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href='#portfolio')
                  i.fa.fa-laptop
                  |&nbsp; Portfolio 
            li: a(href='#experience')
                  i.fa.fa-briefcase
                  |&nbsp; Experience
            li: a(href='#blog')
                  i.fa.fa-newspaper-o
                  |&nbsp; Blog
            li: a(href='#about')
                  i.fa.fa-male 
                  |&nbsp; Me
    .container-fluid
      .row#head.text-center
        .col-xs-12.social-icons.text-right
          a(href='https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile')
            i.fa.fa-linkedin-square
          a(href='https://github.com/tjanszen')
            i.fa.fa-github
          a(href='https://twitter.com/tommyjanszen')
            i.fa.fa-twitter
          a(href='http://codepen.io/tommyjanszen/')
            i.fa.fa-codepen
          a(href='https://plus.google.com/u/0/118251629940912334931/about/p/pub')
            i.fa.fa-google-plus
              
        .col-xs-12
          h1 Tommy Janszen
          h4 Software Developer
          button.btn.btn-primary(data-toggle='modal' data-target='#contactModal') Contact
          
          #contactModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contactModalLabel' aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button' data-dismiss='modal' aria-hidden='true') x
                  h4#contactModalLabel.modal-title Contact Me
                .modal-body
                  .form
                    .form-group
                      .input-group
                        input#uName.form-control(type='text' placeholder='Name')
                        label.input-group-addon.glyphicon.glyphicon-user(for='uName' )
                    .form-group
                      .input-group
                        input#uSubject.form-control(type='text' placeholder='Subject')
                        label.input-group-addon.glyphicon.glyphicon-user(for='uSubject')
                .modal-footer
                  button.form-control.btn.btn-primary Send
                  .progress
                    .progress-bar.progress-bar-primary(role='progressbar' aria-valuenow='1' aria-valuemin='1' aria-valuemax='100' style='width:0%')
                      span.sr-only progress
      .row#skills
        .col-xs-6.col-sm-2.skill-img
          img#html(src='img/skills/html.svg')
        .col-xs-6.col-sm-2.skill-img
          img#css(src='img/skills/css3.svg')
        .col-xs-6.col-sm-2.skill-img
          img#js(src='img/skills/js.svg')
        .col-xs-6.col-sm-2.skill-img
          img#jq(src='img/skills/jquery.svg')
        .col-xs-6.col-sm-2.skill-img
          img#node(src='img/skills/node.png')
        .col-xs-6.col-sm-2.skill-img
          img#boot(src='img/skills/boot.png')
      //- Portfolio section
      .row#portfolio
        .col-xs-12.text-center 
          h3.sub-header-portfolio Portfolio
        .col-xs-12.col-sm-4
          .row
            a(href='https://boiling-wildwood-9124.herokuapp.com/')
              .col-xs-offset-1.col-xs-10.portfolio-window#camp
                .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-camp
                  h4.float-ups-h4 Animal Adoption Portal
                  ul.list-inline
                    li Node.js + Hapi
                    li jQuery + Bootstrap
                    li CSS + LESS
                    li HTML5 + Jade
        .col-xs-12.col-sm-4
          .row
            a(href='http://tjanszen.github.io/Weather-App/')
              .col-xs-offset-1.col-xs-10.portfolio-window#weather
                .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-weather
                  h4.float-ups-h4 Weather App
                  ul.list-inline
                    li API (Underground Weather)
                    li jQuery + Bootstrap
                    li CSS + LESS
                    li HTML5 + Jade
                img(src='img/weather.png')
        .col-xs-12.col-sm-4
          .row
            a(href='https://still-fjord-9960.herokuapp.com/')
              .col-xs-offset-1.col-xs-10.portfolio-window#apartment
                .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-apartment
                  h4.float-ups-h4 Rent Management App
                  ul.list-inline
                    li AWS s3
                    li jQuery + Bootstrap
                    li Node.js + Hapi
        .col-xs-12.col-sm-4
          .row
            a(href='http://tjanszen.github.io/')
              .col-xs-offset-1.col-xs-10.portfolio-window#countdown
                .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-countdown
                  h4.float-ups-h4 jQuery Countdown Timer
        .col-xs-12.col-sm-4
          .row
            a(href='http://tjanszen.github.io/boxes/')
              .col-xs-offset-1.col-xs-10.portfolio-window#boxes
                img(src='img/boxes.png')
                .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-boxes
                  h4.float-ups-h4 Box Generator
                  ul.list-inline
                    li Generates random boxes with unque ID, colors, sizes, and quantity
        .col-xs-12.col-sm-4
          .row
            a(href='http://tjanszen.github.io/memory/')
              .col-xs-offset-1.col-xs-10.portfolio-window#memory
                img(src='img/memory.png')
                .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-memory
                  h4.float-ups-h4 Memory Game
                  ul.list-inline
                    li See how many matches you can get in 6000 miliseconds!
      //- Work Experience section
      .row#experience
        .col-xs-12.text-center
          h3.sub-header-experience Work Experience
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.experience-window#lisnr
              img(src='img/logos/lisnr.jpg')
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.experience-window#possible
              img(src='img/logos/possible.jpg')
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.experience-window#lux
              img(src='img/logos/cardinal.jpeg')
      .row#blog
        .col-xs-12
          h3.sub-header-blog Blog
          .row
            .hidden-xs.col-sm-2.blog.text-center
              span {
            .col-xs-12.col-sm-8.blog
              .row.blog-row
                .hidden-xs.col-sm-2
                  .row.blog-date-number 13
                  .row.blog-date-month Feb
                .col-xs-12.col-sm-10.blog-content
                  .row.blog-title
                    a(href='http://tommyjanszen.com/blog/coding/always-pairing/')
                      h4 Always Pairing
                  .row.blog-text
                    p Learning from others in any area of expertise is a huge opportunity to open one’s eyes to different perspectives. We all have two eyes for a reason.
              .row.blog-row
                .hidden-xs.col-sm-2
                  .row.blog-date-number 3
                  .row.blog-date-month Feb
                .col-xs-12.col-sm-10.blog-content
                  .row.blog-title
                    a(href='http://tommyjanszen.com/blog/coding/the-new-coding-slogan/')
                      h4 The New Coding Slogan
                  .row.blog-text
                    p I challenge any coding program to take the above slogan instead of the typical “Learn to code in one month!”. First off, no one can become an expert in a one month timeframe.
              .row.blog-row
                .hidden-xs.col-sm-2
                  .row.blog-date-number 29
                  .row.blog-date-month Jan
                .col-xs-12.col-sm-10.blog-content
                  .row.blog-title
                    a(href='http://tommyjanszen.com/blog/software-development/what-legos-taught-me/')
                      h4 What Legos Taught Me
                  .row.blog-text
                    p Little did I know when I was six years old playing with Legos I was preparing myself for a career twenty years later as a software engineer. Legos were my favorite toy as a kid.
            .hidden-xs.col-sm-2.blog.text-center
              span }
      .row#about
        .col-xs-12.text-center
          h3.sub-header-about About Myself
        .col-xs-12.col-sm-6
          .col-xs-12.text-center
            h3.sub-header-about Books I've Read
            p 
              span My goal is to create usable software that enhances the lives of billions. I started out as a project manager for web and mobile application development in 2011. In 2013 I began teaching myself several programming languages in order to advance my skills (and I loved it). I decided to change career paths in 2014 and fully dedicate my time as a software developer. I was accepted into highly selective coding bootcamp Coding House, the only live-in program in the world where developers spend 80+ hours a week developing software applications. 
            p 
              span My background in business combined with the power of software development allow me to see the entire software and business ecosystem. I have worked for digital marketing agencies, a software consulting firm, as well as a tech startup. These different work environments allowed me to develop a diversified portfolio of skills any organization would want on their team.
            p 
              span Specialties: JavaScript, jQuery, Bootstrap, HTML5, CSS3, Node.js, Angular.js, UI Development, Usability, Web Development, Agile, Srum Master, Project Management, UAT.
        .col-xs-12.col-sm-6
          .col-xs-12.text-center
            h3.sub-header-about Books I've Read
          .row
            .col-xs-2
            .col-xs-10
              h5 The Second Machine Age
              p
                span by Erik Brynjolfsson and Andrew McAfee
          .row
            .col-xs-2
            .col-xs-10
              h5 Things A Little Bird Told Me
              p 
                span by Biz Stone
          .row
            .col-xs-2
            .col-xs-10
              h5 How We Got to Now
              p 
                span by Steven Johnson
          .row
            .col-xs-2
            .col-xs-10
              h5 Think Like A Freak
              p 
                span by Steven D Levitt
          .row
            .col-xs-2
            .col-xs-10
              h5 Made To Stick
              p  
                span by Chip Heath and Dan Heath
          .row
            .col-xs-2
            .col-xs-10
              h5 Unlabel: Selling You Without Selling Out
              p 
                span by Marc Ecko
          .row
            .col-xs-2
            .col-xs-10
              h5 The Power of Habit
              p 
                span by Charles Duhigg
              
              
              

    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
