doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Software Dev - Tommy
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    //- link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/style.css')
  body
    .nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href='#portfolio') Portfolio 
            li: a(href='#experience') Experience
            li: a(href='#blog') Blog
            li: a(href='#about') About
    .container-fluid
      .row#head.text-center
        .col-xs-12
          h1 Tommy Janszen
          h4 Software Developer
          button.btn.btn-primary(data-toggle='modal' data-target='#contactModal') Contact
          
          #contactModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contactModalLabel' aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button' data-dismiss='modal' aria-hidden='true') x
                  h4#contactModalLabel.modal-title Contact Me
                .modal-body
                  .form
                    .form-group
                      .input-group
                        input#uName.form-control(type='text' placeholder='Name')
                        label.input-group-addon.glyphicon.glyphicon-user(for='uName' )
                    .form-group
                      .input-group
                        input#uSubject.form-control(type='text' placeholder='Subject')
                        label.input-group-addon.glyphicon.glyphicon-user(for='uSubject')
                .modal-footer
                  button.form-control.btn.btn-primary Send
                  .progress
                    .progress-bar.progress-bar-primary(role='progressbar' aria-valuenow='1' aria-valuemin='1' aria-valuemax='100' style='width:0%')
                      span.sr-only progress
                      
      .row#skills
        .col-xs-12.col-sm-6
          .row.skills-row
            .col-xs-3#jquery
              |jQuery
            .col-xs-3.color2
            .col-xs-3#nodejs
              |Node.js
            .col-xs-3.color4
          .row.skills-row
            .col-xs-3.color1
            .col-xs-3#javascript
              |Javascript
            .col-xs-3.color3
            .col-xs-3#html
              |HTML5
          .row.skills-row
            .col-xs-3#bootstrap
              |Bootstrap
            .col-xs-3.color2
            .col-xs-3#css
              |CSS
            .col-xs-3.color4
        .col-xs-12.col-sm-6
          .row.skills-row
            .col-xs-3#hapi
              |Hapi.js
            .col-xs-3.color6
            .col-xs-3#scrum
              |Scrum
            .col-xs-3.color8
          .row.skills-row
            .col-xs-3.color5
            .col-xs-3#less
              |Less
            .col-xs-3.color7
            .col-xs-3#jade
              |Jade
          .row.skills-row
            .col-xs-3#angular
              |Angular.js
            .col-xs-3.color6
            .col-xs-3#agile
              |Agile
            .col-xs-3.color8
      //- Portfolio section
      .row#portfolio
        .col-xs-12.text-center 
          h3.sub-header  Software Portfolio
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.portfolio-window#camp
              .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-camp
                h4 Anamil Adoption Portal
                ul.list-inline
                  li Node.js + Hapi
                  li jQuery + Bootstrap
                  li CSS + LESS
                  li HTML5 + Jade
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.portfolio-window#weather
              .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-weather
                h4 Weather App
                ul.list-inline
                  li API (Underground Weather)
                  li jQuery + Bootstrap
                  li CSS + LESS
                  li HTML5 + Jade
              img(src='img/weather.png')
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.portfolio-window#apartment
              .col-xs-offset-1.col-xs-10.float-ups.portfolio-window-back-apartment
                h4 Weather App
                ul.list-inline
                  li API (Underground Weather)
                  li jQuery + Bootstrap
                  li CSS + LESS
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.portfolio-window#countdown
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.portfolio-window#weather
              img(src='img/boxes.png')
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.portfolio-window#memory
              img(src='img/memory.png')
      //- Work Experience section
      .row#experience
        .col-xs-12.text-center
          h3.sub-header Work Experience
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.experience-window#lisnr
              img(src='img/logos/lisnr.jpg')
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.experience-window#possible
              img(src='img/logos/possible.jpg')
        .col-xs-12.col-sm-4
          .row
            .col-xs-offset-1.col-xs-10.experience-window#lux
              img(src='img/logos/lux.png')
      .row#blog
        .col-xs-12
          .row
            .hidden-xs.col-sm-2.blog.text-center
              span {
            .col-xs-12.col-sm-8.blog
              .row
                .hidden-xs.col-sm-2
                  .row.blog-date-number 19
                  .row.blog-date-month Nov
                .col-xs-12.col-sm-10
                  .row.blog-title
                    h5 Blog Tite One
                  .row.blog-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au
              .row
                .hidden-xs.col-sm-2
                  .row.blog-date-number 19
                  .row.blog-date-month Nov
                .col-xs-12.col-sm-10
                  .row.blog-title
                    h5 Blog Tite One
                  .row.blog-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au
              .row
                .hidden-xs.col-sm-2
                  .row.blog-date-number 19
                  .row.blog-date-month Nov
                .col-xs-12.col-sm-10
                  .row.blog-title
                    h5 Blog Tite One
                  .row.blog-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au
            .hidden-xs.col-sm-2.blog.text-center
              span }
      .row#about
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
